#contentBuilderModal .modal-dialog{ width:100%;}
#contentBuilderModal .modal-content{ height: 500px;overflow-y: scroll }
/*#contentBuilderModal .modal-content{height:100%;min-height: 500px;}*/
.all-images ul {list-style: outside none none;}
.all-images ul li {display: inline-block; margin-right: 10px;cursor: pointer;margin-bottom: 20px;}
.all-images ul li img {height: 130px;width:auto;}
.modal-title {margin: 0 !important; color: #d0112b;}
#contentBuilderModal {z-index: 99999;}
.btn.btn-primary.search {
    background-color: #d0112b;
    color: #ffffff;
    line-height: normal;
}
.btn.btn-primary.search:hover {
    background-color: #d0112b;
    border-color: #d0112b;
    color: #ffffff;
}
.all-images ul li p {color: #d0112b;font-family: "GothamBook-Regular";font-size: 14px;font-weight: 500;margin: 8px 0;text-align: center;}


/****************loader CSS *****************/
.waitMe_container {position:relative;transform:translateZ(0);backface-visibility:hidden}
body.waitMe_container {position:fixed;width:100%;height:100%}
.waitMe_container .waitMe {position:absolute;top:0;left:0;right:0;bottom:0;z-index:9989;text-align:center;overflow:hidden}
.waitMe_container .waitMe * {font-family:sans-serif;font-size:14px;font-weight:initial;font-style:initial;line-height:initial;color:initial;text-decoration:initial;text-transform:initial;padding:initial;margin:initial}
.waitMe_container .waitMe .waitMe_content {position:absolute;left:0;right:0;top:50%;backface-visibility:hidden}
.waitMe_container .waitMe .waitMe_progress {position:relative;font-size:0}
.waitMe_container .waitMe .waitMe_progress > div {animation-fill-mode:both;display:inline-block;transform:translateZ(0);backface-visibility:hidden}
.waitMe_container .waitMe .waitMe_text {position:relative;margin:20px 0 0}

/* before load animation */
body.waitMe_body {overflow:hidden;height:100%}
body.waitMe_body.hideMe {transition:opacity .2s ease-in-out;opacity:0}
body.waitMe_body .waitMe_container:not([data-waitme_id]) {position:fixed;z-index:9989;top:0;bottom:0;left:0;right:0;background-color: rgba(255,255,255,0.9)}
body.waitMe_body .waitMe_container:not([data-waitme_id]) > div {animation-fill-mode:both;position:absolute}
body.waitMe_body .waitMe_container.progress > div {width:0;height:3px;top:0;left:0;background:#000;box-shadow:-5px 0 5px 2px rgba(0,0,0,.2);animation:progress_body 7s infinite ease-out}
body.waitMe_body .waitMe_container.working > div {width:10%;height:3px;top:0;left:-10%;background:#000;box-shadow:-5px 0 5px 2px rgba(0,0,0,.2);animation:working_body 2s infinite linear}
body.waitMe_body .waitMe_container.progress > div:after {content:'';position:absolute;top:0;bottom:60%;right:0;width:60px;border-radius:50%;opacity:.5;transform:rotate(3deg);box-shadow:#000 1px 0 6px 1px}
body.waitMe_body .waitMe_container.img > div {width:100%;height:100%;text-align:center;background-position:center!important;background-repeat:no-repeat!important}
body.waitMe_body .waitMe_container.text > div {width:100%;top:45%;text-align:center}
@keyframes progress_body {
    0% {width:0}
    100% {width:100%}
}
@keyframes working_body {
    0% {left:-10%}
    100% {left:100%}
}



* {margin:0;font-family:Roboto,sans-serif;outline:0;box-sizing:border-box;font-size:14px}
#page {margin:30px auto 100px;width:40%;min-width:800px;min-height:500px}
#page_content {background:#fff;box-shadow:0 1px 5px #ccc;margin-top:20px}
#pageCaption {font-size:24px;font-weight:500;line-height:24px}
#pageDesc {color:#777;margin-top:5px;font-size:90%}

#copyrightBlock {float:right}
#version, #gitHubLink, #downloadLink {color:#fff;background:#4081BE;display:inline-block;padding:0 10px;border-radius:3px;text-decoration:none;font-size:12px;line-height:24px;margin-left:1px}
#downloadLink:hover {background:#3772A8}
#gitHubLink {background:#ccc;color:#555;font-weight:500}
#gitHubLink:hover {background:#aaa;color:#333}
#version {background:transparent;color:#555;font-weight:500}
#version span {margin-left:10px;color:#999;font-size:12px}

.exampleContainer {}
.exampleContainer .exampleLive {border-top:1px solid #ddd;padding:20px;background:#fafafa}
.exampleContainer .exampleLive .exampleLiveTitle {color:#666;font-size:13px;padding-bottom:10px}
.exampleContainer .exampleLive > button {padding:6px 12px;cursor:pointer;background:#4081BE;border:0;color:#fff;border-radius:3px;text-transform:uppercase;font-weight:bold;font-size:13px;line-height:20px}
.exampleContainer .exampleLive > button:hover {background:#3772A8}
.exampleContainer .exampleCode {background:#2b2f3b;padding:20px}
.exampleContainer .exampleCode pre {line-height:0}
.exampleContainer .exampleCode code {white-space:pre-line}
.exampleContainer .exampleCode code * {font-family:consolas;font-size:13px}
.exampleContainer .exampleCode code > p {line-height:20px;color:#7993ad;display:inline-block}
.exampleContainer .exampleCode code .tab {padding-left:15px}
.exampleContainer .exampleCode code .tab2 {padding-left:30px}
.exampleContainer .exampleCode code .tab3 {padding-left:45px}
.exampleContainer .exampleCode code .tag {color:#97e0e9}
.exampleContainer .exampleCode code .text {color:#fff}
.exampleContainer .exampleCode code .key {color:#bf5c5b}
.exampleContainer .exampleCode code .val {color:#fadf8c}
.exampleContainer .exampleCode code .var {color:#aae997}
.exampleContainer .exampleCode code .var2 {color:#b297e9}

@media (max-width: 840px){
#page {width:auto;min-width:0;margin:20px 20px 100px}
}

@media (max-width: 400px){
.containerBlock form {margin:0}
}


/* progressBar */
.waitMe_container .waitMe_progress.progressBar {width:200px;height:20px;margin:auto;background:rgba(0,0,0,.1);padding:5px;border-radius:20px;line-height:0;max-width:100%}
.waitMe_container .waitMe_progress.progressBar > div {width:100%;height:100%;overflow:hidden;border-radius:20px;background-size:50px 50px;box-shadow:inset 0 2px 9px rgba(255,255,255,.3), inset 0 -2px 6px rgba(0,0,0,.4);background-image:linear-gradient(-45deg, rgba(240,240,240,.4) 26%, transparent 25%, transparent 51%, rgba(240,240,240,.4) 50%, rgba(240,240,240,.4) 76%, transparent 75%, transparent);animation:progressBar 2s linear infinite}
@keyframes progressBar {
    0% {background-position:0 0}
    100% {background-position:50px 50px}
}


/* bouncePulse */
.waitMe_container .waitMe_progress.bouncePulse > div {width:20px;height:20px;margin-right:1%;display:inline-block;border-radius:50%;transform:scale(.5);animation:bouncePulse 1.4s infinite ease-in-out}
.waitMe_container .waitMe_progress.bouncePulse > .waitMe_progress_elem1,
.waitMe_container .waitMe_progress.bouncePulse > .waitMe_progress_elem3 {animation-delay:.3s}
.waitMe_container .waitMe_progress.bouncePulse > .waitMe_progress_elem2 {animation-delay:.1s}
@keyframes bouncePulse {
    0%, 90%, 100% {transform:scale(.5)}
    45% {transform:scale(1)}
}
