h1, h2, h3, h4, h5, h6 {font-family: "GothamBook-Regular";}
body{font-family: "GothamNarrow-Book";}
.container-fluid {margin: 0 auto;max-width: 1100px;padding:0 15px;}
#header #navWrap ul li a { font-size: 13px; text-transform: uppercase; }
#footer-bottom{background:#666;padding:20px 0 ;min-height: 60px;}
#footer-bottom p{color:#fff;font-size:13px;font-family: "Gotham Narrow A","Gotham Narrow B";margin-bottom: 0;}
#footer-bottom ul {list-style: outside none none;padding: 0;text-align: right;}
#footer-bottom ul li {display: inline-block;margin: 10px 4px 0 0;}
#footer-bottom ul li  a {color:#fff;font-size:11px;text-transform: uppercase;}
#footer-bottom ul li a:hover{color:#fff;}
.page-template #banner {background: rgba(0, 0, 0, 0) url(../images/banner.jpg) no-repeat scroll center center / cover ;min-height: 600px;padding-top: 80px;}
.stars{padding:60px 0;text-align:center;}
.stars img{display:block;margin:0 auto;}
.stars h1{font-size:24px; margin: 10px 0 0;}
.stars p{color:#4c4c4c;font-size:17px;line-height:20px;margin-bottom:0;font-family: "Gotham Narrow A","Gotham Narrow B";font-weight: 400;}
.green-txt{color:#1c9139 !important;}
.blue-txt{color:#4f7ab4 !important;}
.purple-txt{color:#5e3f74 !important;}
.orange-txt{color:#fc6719 !important;}
.whitesc p{color:#4c4c4c;font-size:24px;font-family: "Gotham Narrow A","Gotham Narrow B";line-height:32px;font-weight: 400;}
.gt-s{padding:10px 0 60px;}
.gt-s h2{font-size:35px;line-height:32px;}
.white-box{background:#fff;border-bottom-right-radius:25px;padding:5px;}
.white-box div{padding:20px 15px;}
.white-box h3{font-size:22px;line-height:normal;}
.white-box p{font-size:16px;line-height:normal;}
.white-box.green{border-top:12px solid #1c9139;}
.white-box.blue{border-top:12px solid #4f7ab4;}
.white-box.purple{border-top:12px solid #5e3f74;}
.white-box .btn.gt-started {color: #fff;display: block;font-size: 19px;text-align: center;text-transform: uppercase; max-width: 190px; margin: 0 auto;  padding: 8px 0;border-radius:5px;}
.white-box.green .btn.gt-started{background:#1c9139;}
.white-box.blue .btn.gt-started{background:#4f7ab4;}
.white-box.purple .btn.gt-started{background:#5e3f74;}
.whits img{border-bottom-right-radius:50px;float:left;}
.whits h4{font-size:34px;color:#d0112b;line-height:32px;text-align:left;}
.whits p{color:#4c4c4c;font-size:24px;font-family: "Gotham Narrow A","Gotham Narrow B";line-height:32px;font-weight: 400;margin-top:15px;text-align:left;}
.container-main div, a, img {transition: all 0.5s ease 0s;}
.gradTop { position: relative; }
#header #navWrap{background-image: none;}
#navWrapLeftFiller{display: block;height: 42px;left: 0;position: absolute;top: 0;z-index: 999;}
#navWrapLeftFiller, #header #navWrap ul li.current_page_item a {background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;}
#navWrap #navigation-container {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    border-bottom-right-radius: 48px;
    height: 42px;
}
#header #navWrap ul li a{font-family:'GothamNarrow-Book';}
#footerWrap #contentMenus h4 {  font-family: 'Gotham-Medium';}
#footerWrap .footerCat ul li a, #footerWrap #contentMenus ul li a{font-family:'GothamNarrow-Book';}
#footer-bottom p{  margin: 15px 0;}

/*------------------admin area--------------------*/
.admin-area{padding:50px 0;}
.hover {cursor: default;float: left;position: relative;width: 100%;height:100%}
.qstn-area{color: #4c4c4c;font-family:'GothamNarrow-Book';font-size:18px;font-weight: 400;line-height: normal;}
.hover {cursor: default;float: left;position: relative;width: 100%;}
.company-logo{width: 100%;  transition: all 0.2s ease-in 0s;}
.company-logo img{display:block;margin: 0 auto;border-bottom-right-radius: 35px;}
.overlay{display: none;position: absolute;top:0;left:0;color:#fff;background:rgba(0,0,0,0.7);width:100%;height:100%;border-bottom-right-radius: 35px;padding:20px;}
.overlay button.edit-button {position: absolute;right: 0;top: 0;}
.overlay .edit-button {position: absolute;right: 0;top: 0;}
.overlay a{color:#fff;}
.hover:hover  .overlay{display: block;}​
.overlay button{top:0;right:0;}
.hover-info a{color:#fff;text-decoration:none; text-transform: capitalize;line-height: 16px;}
.gray-bg {background-color: #edeeee;padding:60px 0;}  
.white-box h3{font-size:19px;line-height:normal;text-align:center;font-family: 'GothamBook-Regular';margin:10px 0; }
.subtitle{font-family: 'GothamBook-Regular';margin:10px 0; font-size: 16px;}
.white-box p{font-family: GothamNarrow-Book;font-size:14px; color: #53565a;line-height:24px;}
.white-box .btn.gt-started {color: #fff;display: block;font-size: 14px;text-align: center;text-transform: uppercase; max-width: 170px; margin: 0 auto;  padding: 5px 0;border-radius:5px;}
#pageTitle {color: #d0112b;font-family:'GothamBook-Regular';font-size: 35px;line-height: 32px;font-style: normal;font-weight: 400;margin: 15px 0;padding: 0;}
.templates-choice {line-height: normal;list-style: outside none none;margin: 30px 0;padding: 0 5px; float: left; width: 100%;}
.templates-choice li {float: left;margin-right:30px;width:202px;height:253px;margin-bottom:20px;  line-height: 240px; text-align: center;position:relative;}
.templates-choice li a{float: left; width: 100%; cursor: pointer;text-transform: capitalize}
.templates-choice li p{line-height: normal; display: inline-block;text-align: center;color: #fff; vertical-align: middle;  }
.templates-choice li:nth-child(5n) {margin-right: 0;}
.drak-grey{background-color: #53565a;padding: 40px;}
.drak-grey h2 {color: #fff;font-family: "GothamNarrow-Book";font-size: 36px;margin: 0 0 20px;}
.drak-grey p {font-family: GothamNarrow-Book;color: #fff;font-size: 19px;font-weight: 400;}
.gray-bg.small-grey{padding:30px 0;}
.gray-bg.small-grey p{font-size: 20px;font-weight: 400;color:#53565a;font-family: "GothamNarrow-Book";}
#mdlive-slider{margin: -40px 0 0;}
#mdlive-slider .slides{padding:100px 20px;}
#mdlive-slider .slides h1{font-family: GothamBook-Regular;font-size: 56px; color:#d0112b;}
#mdlive-slider .slides p{font-family: "GothamNarrow-Book";font-size:21px; color:#53565a;max-width:500px;}
#mdlive-slider .carousel-indicators li {background: rgba(0, 0, 0, 0.5);border: 5px solid rgba(0, 0, 0, 0) !important;height: 16px;width: 16px;}
#mdlive-slider .carousel-inner .slide-1{background:url("../images/engagement4.jpg") no-repeat;height: 380px;background-position: 10px right;background-size: cover;}
#mdlive-slider .carousel-inner .slide-2{background:url("../images/slider2-1.jpg") no-repeat;height:380px;background-position: 10px right;background-size: cover;}
#mdlive-slider .carousel-inner .slide-3{background:rgba(0, 0, 0, 0) url("../images/slider3.jpg") no-repeat  right 10px / cover; height: 380px;}
#mdlive-slider .carousel-indicators .active {background-color: #333333;height: 16px;margin: 1px;width: 16px;}
#mdlive-slider .carousel-indicators li:hover{background-color: #333333;}
#essentials{ padding:40px 0;}
#essentials a{margin:10px 0;float: left;padding:15px 0;}
#essentials a h2{  color: #aa0000;  font-size: 36px;  font-weight: 400;font-family: "Gotham-Book";margin-bottom:10px;}
#essentials a p { color:#53565a;  font-size: 22px;  font-weight: 400;font-family: "GothamNarrow-Book";margin:0 0 50px;}
#essentials a:hover {background-color: #edeeee;transition: all 0.5s ease 0s;}
#essentials a:hover img{transition: all 0.5s ease 0s;padding-left:15px;}
#essentials a img{border-bottom-right-radius: 35px;}
/*-------------end------------------*/
/*--------------how to use------------------*/
.banner {margin: -40px 0 0;padding: 100px 0;border-bottom: 1px solid #aaa;}
.banner h1{font-family: GothamBook-Regular;font-size: 56px; color:#d0112b;margin-bottom:20px;}
.banner p{font-family: "GothamNarrow-Book";font-size:20px; color:#53565a;max-width:480px;}
#how-to-use-bn{background:url("../images/slider2-1.jpg") ;background-size:cover;background-position: top right;height:458px;}
.contents{padding:40px 0;background: #fff;}
.contents h2{  color:#d0112b;  font-size: 36px;  font-weight: 400;font-family: "Gotham-Book";margin-bottom:10px;}
.contents h2.borderBottom{border-bottom: 1px solid #aaa;padding:5px 0;}
.contents p{font-family: "GothamNarrow-Book"; color:#53565a;}
.contents p.lead{font-size:21px;}
.contents .details{margin: 25px 0;}
.contents ul{padding: 0 30px;}
.contents ul li{font-family: "GothamNarrow-Book";margin-bottom:5px;}
.contents ul li a{color:#aa0000;font-size: 16px;}
.contents ul li a:hover{text-decoration:none;}
.gray-bg.fr-reminder{padding:30px 20px;border-bottom-right-radius:25px;}
.Overview.gray-bg{padding:30px 20px;}
.Overview {position: relative;}
.Overview #closeBtn {cursor: pointer;font-size: 24px;font-weight: bold;position: absolute;right: 20px;top: 20px;}
.imageDetail {background-color: #eee;padding: 1rem;text-align: center;}
.imageDetail h3{color: #cf102d;font-size: 20px;margin:10px 0;font-family: "Gotham-Book";}
.Overview .btn-primary {background-color: #cf102d;background-repeat: repeat-x;border-color: #cf102d;color: #ffffff;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);margin:15px 0;}
/*-------end----------------------------------*/
/*---------------------*/
#encourage-activation-bn {background: url("../images/engagement5b.jpg") no-repeat;background-size:cover;background-position: top right;height:458px;}
.contents.encourage ul li{list-style: square;}
/*--------------end---------------------*/

#promote-utilization-bn {background: url('../images/slider4.jpg') no-repeat;background-size:cover;background-position: top right;height:458px;}
.contents.encourage ul li{list-style: square;}
.promote-utilization-section-2 {
    background-color: #53565a;
    padding-top: 40px;
    padding-bottom: 20px;
}
.promote-utilization-section-2 .lead {font-family: GothamNarrow-Book;
    color: #fff;
    margin-left: 30px;
    margin-right: 30px;
}
.paddedTopBottom-2x {
    padding-top: 40px;
    padding-bottom: 40px;
}
.swatch1 {
    background-color: #fff;
}
.swatch1, .swatch1 p {font-family: GothamNarrow-Book !important;
    color: #53565a;
}
.borderedBottom {
    border-bottom: 1px solid #bbbcbc;
}
.swatch1 h1, .swatch1 h2, .swatch1 h3, .swatch1 h4, .swatch1 h5, .swatch1 h6 {
    color: #cf102d;
    line-height: 1.4;
    font-family: GothamBook-Regular;
    margin-bottom: 10px;
}
.swatch1 img {
    transition: all 0.5s ease;
}
.swatch1 .fd1 {
    margin-left: -15px;
}
.swatch1 .switch1-ul {
    padding-left: 15px;
}
.switch1-ul li {
    list-style: square;
}
.switch1-ul .red a {
    color: #aa0000;
}
.switch1-ul .red a:hover {
    color: #aa0000;
    text-decoration: none;
}
/*--------------end---------------------*/
.swatch2 {
    background-color: #edeeee;
}
.swatch2, .swatch2 p {
    color: #53565a;font-family: GothamNarrow-Book;
}
.swatch2 #text-8 h4.widget-title {
    font-family: GothamBook-Regular;
    color: #cf102d;
    font-size: 36px;
    text-transform: none;
    line-height: 40px;
    font-weight: 400;
    margin-bottom: 10px;
}
.swatch2 #text-8 ul.sales-presentations {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
.swatch2 ul.sales-presentations li {
    text-align: left;
    width: 33%;
    margin: 0;
    padding: 0;
    min-height: 200px;
    float: left;
}
.swatch2 ul.sales-presentations li div.infoblock {
    width: 235px;
    margin: auto;
}
.swatch2 ul.sales-presentations li div.infoblock img {
    width: 235px;
}
.swatch2 ul.sales-presentations li h3 {
    color: #aa0000;
    font-size: 15px;
    margin: 0;
    padding: 10px 0 0 0;
    line-height: 20px;
    font-family: GothamNarrow-Book;
}
.swatch2 ul.sales-presentations li a:hover {
    text-decoration: none;
}
.swatch2 ul.sales-presentations li p {
    color: #777;
    margin: 0;
    padding: 0;
}
/*--------------company form-------------------*/
#companyProfile .form-group {
    margin: 30px 0;
}
#companyProfile input[type="text"] {
    float: left;
    margin: 0 10px 10px 0;
    max-width: 412px;
    width: 100%;
}
#companyProfile .form-group input[type="radio"], #companyProfile .form-group input[type="checkbox"] {
    margin: 10px 7px 10px 0;
}
#companyProfile a {
    font-size: 14px;
    top: 0;
}
#companyProfile a:hover {
    color: #000;
    text-decoration: none;
}
#companyProfile a.addMore {
    background: #000 none repeat scroll 0 0;
    color: #fff;
    display: block;
    max-width: 100px;
    padding: 10px;
    text-align: center;
}
#companyProfile a.addMore:hover,#companyProfile a.addMore:focus,#companyProfile a.addMore:active {text-decoration:none;}

/*-------------------------------end-------------------*/
.input-float-left input:first-of-type {
    float: left;
}
.input-float-left input:nth-of-type(2), .input-float-left a{
    left: -70px;
    top: -6px !important;
    position: relative;
}
.tmplates-link {background: rgba(0, 0, 0, 0.5);display: none;height: 100%;left: 0;padding: 0;position: absolute;top: 0;width: 100%;}
.tmplates-link a{color:#fff;font-size:16px;text-decoration:none;font-weight:bold;}
.hover:hover .tmplates-link{display:block;}
.builder-marcom {margin: 30px 0 0;}
p.sub-title {font-size: 18px;font-weight: 700;}
a.btn.btn-started {background: #d0112b;color: #fff;text-transform: uppercase;font-size: 16px;font-family: GothamNarrow-Book;
}
.builder-marcom #pageTitle{padding-bottom: 5px;}
.builder-marcom p {font-family: GothamNarrow-Book;}
.infoblock span {font-family: GothamNarrow-Book !important;}
/***************Brand Assets****************/
.brand-assets-container {
    font-family: "Gotham A","Gotham B";
}
.brand-assets-container .lead {
    font-family: "Gotham A","Gotham B";
}
.masthead {
    border-bottom: 1px solid #ccc;
}
.masthead h2 {
    font-family: "Gotham A","Gotham B";
    font-size: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.brand-assets-container div, a, img {
    transition: all 0.5s ease;
}
.brand-assets-container .logoContainer {
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    background-color: #eeeeee;
    border-bottom-right-radius: 24px;
    -moz-border-bottom-right-radius: 24px;
    -webkit-border-bottom-right-radius: 24px;
}
.brand-assets-container .imgContainer {
    position: relative;
    height: 160px;
    margin-bottom: 2rem;
}
.brand-assets-container .imgContainer img {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.brand-assets-container .btn-primary {
    background-color: #cf102d;
    background-image: none;
    background-repeat: repeat-x;
    border-color: #cf102d;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.brand-assets-container .btn-primary:hover {
    background-color: #9e0d1c;
}
.brand-assets-container .btn {
    padding: 4px 12px;
}
.paddedTopBottom {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.borderedBottom {
    border-bottom: 1px solid #bbbcbc;
}
#closeBtn {
    display: inline-block;
    cursor: pointer;
    color: #cf102d;
    font-size: 3.4rem;
}
.itemdesc {
    font-size: 14px;
}
.borderedBottom h2 {
    font-family: "Gotham A","Gotham B";
    font-size: 36px;
    font-weight: 400;
    line-height: 1.4;
    margin: 10px 0;
}
.brand-assets-container #content {
    padding: 6rem;
}
.brand-assets-container #content #mainImg {
    max-width: 80%;
    height: auto;
}
.admin-area.build{padding: 10px 0;}
@media only screen and (min-width: 992px) {
    .masthead {
        background-image: url('../images/assets2.jpg');
        min-height: 400px;
        position: relative;
        padding-bottom: 2rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
    }
    .masthead h2 {
        text-align: left;
        font-size: 6rem;
        padding: 0;
        margin: 0;
        padding-top: 90px;
        padding-bottom: 2rem;
    }
}
/***************End *************************/
@media only screen and (min-width:321px) and (max-width:850px){
    #navWrapLeftFiller{display: none;}
    #header #navWrap {background-image: url("../images/nav-bg.png");}
    #header #mobileMenuBtn{top:0;}
}
@media (min-width: 768px) and (max-width: 850px) { 
    #navWrap #navigation-container{max-width:210px;width:100%;}
    .sub-menu{position:relative;float:left;width:100%;}
    #header #navWrap ul li{float:left;width:100%;}
}
@media only screen and (max-width : 767px) {
    #footer-bottom img{display:block;margin:0 auto;}
    #footer-bottom p{margin: 5px 0;text-align:center;}
    #footer-bottom ul{text-align:center;}        
    .stars p{margin-bottom:30px;}
    .white-box{margin-bottom:20px;}
    .whits img{margin-bottom:30px;}
    .whits h4 , .whits p{text-align:center;}
}

@media only screen and (max-width : 920px) {
    #header #navWrap ul li a {
        padding:0px 10px;
    }
    .swatch2 ul.sales-presentations li {
        width: 100%;
    }
    .swatch2 ul.sales-presentations li div.infoblock {
        width: 217px;
    }
    .swatch2 ul.sales-presentations li div.infoblock img {
        width: 217px;
    }
}

@media only screen and (max-width : 850px) {



    #header #navWrap #mobileMenuBtn {
        display:block;
    }
    #navWrap #navigation-container {
        background-color:rgba(0,0,0,0.7);
        text-align:center;
        min-width:210px;
        position:absolute;
        top:42px;
        right:0px;
        overflow:hidden;
        height:0px;
        padding-left:20px;
        padding-right:20px;
        padding-top:0px;
        padding-bottom:0px;
        transition: all .4s ease;
        -moz-transition: all .4s ease;
        -webkit-transition: all .4s ease;
        -o-transition: all .4s ease;

    }
    #navWrap #navigation-container.open {
        height:auto;
        padding-top:20px;
        padding-bottom:20px;
    }
    #header #navWrap #navigation-container ul {
        display:block;
    }
    #header #navWrap #navigation-container ul li {
        display:block;
        margin-bottom:10px;
    }
    #header #navWrap #navigation-container ul li:last-child {
        margin-bottom:0px;
    }
    #header #navWrap #navigation-container ul li a {
        color:#ffffff;
        height:30px;
        line-height:30px;
        font-size:16px;
    }


}







@media only screen and (max-width : 660px) {
    #header {
        background-color:#ffffff;
        height:122px;
    }
    #header #hdrRight {
        padding-top:18px;
        float:left;
        padding-left:30px;
    }
    #header #addtlLinks {
        margin-top:0px;
        float:none;
        text-align:left;
    }
    #header #addtlLinks a {
        display:inline-block;
        margin-top:5px;
    }
    #header #addtlLinks a:first-child {
        padding-left:0px;
    }
    #header #addtlLinks span {
        display:inline-block;
    }
    #header #navWrap {
        height:5px;
    }
    #header #mobileMenuBtn {
        color:#333333;
        top:-58px;
    }
    #navWrap #navigation-container {
        top:5px;
    }

    h2 {
        font-size:30px;
    }


}
@media only screen and (max-width : 600px) {

    #header #logo img {
        height:50px;
    }
    #header #hdrRight {
        padding-top:7px;
    }
    #header #mobileMenuBtn {
        top:-48px;
    }
    #header {
        height:101px;
    }

}



@media only screen and (max-width : 560px) {
    #header #navMiniMobile {
        display:block;
    }
    #header #addtlLinks {
        display:none;
    }
    #header #hdrRight {
        padding-top:13px;
    }
    #header #mobileMenuBtn {
        top:-44px;
    }
    #header {
        height:95px;
    }

}
@media only screen and (max-width : 545px) {


    h2 {
        line-height:normal;
        padding-top:20px;
    }

    h1#pageTitle {
        font-size:30px;
        text-align:center;
    }
    .leftColumn, .rightColumn {
        width:100%;
        float:none;
    }

    #header {height: 95px;}
}



@media only screen and (max-width : 475px) {

    h1#pageTitle {
        font-size:34px;
        text-align:center;
    }

}

@media only screen and (max-width : 423px) {

}
@media only screen and (max-width : 460px) {
    h2 {font-size:30px;}

}